@import url('https://fonts.googleapis.com/css2?family=Eczar&family=IM+Fell+English&family=IM+Fell+English+SC&display=swap');

/*------------------------------------------------------------------------------
    General
------------------------------------------------------------------------------*/
*, *:before, *:after {
  box-sizing: border-box;
}

body {
    max-width: 750px;
    margin: 8px auto;
    text-align: center;
    background: #FCF5E5;
    font-family: 'Eczar', serif;
}

th, h1, h3 {
    font-family: 'IM Fell English SC', serif;
}

/*------------------------------------------------------------------------------
    Tables
------------------------------------------------------------------------------*/
table, th, td {
    border: 1px solid black;
}

table {
    margin: 16px auto;
}

th, td {
    padding: 10px;
}

td > a {
    display: inline-block;
    line-height: 1.2
}

/*------------------------------------------------------------------------------
    Content
------------------------------------------------------------------------------*/
.markdown {
    text-align: justify;
    text-indent: 2em;
}

blockquote {
    /*background: #f9f9f9;*/
    color: #555;
    border-left: .25em solid #ccc;
    margin: 10px 0;
    padding: 0 1em;
}

/*------------------------------------------------------------------------------
    Links
------------------------------------------------------------------------------*/
a {
    color: inherit;
    transition: filter 100ms;
    white-space: nowrap;
}

a:hover {
    filter: drop-shadow(0px 0px 1.5px black);
}

.lnav {
    position: absolute;
    left: 5px;
    top: 0px;
}

.rnav {
    position: absolute;
    right: 5px;
    top: 0px;
}
