@import url(common.css);

body {
  margin: 0 auto;
  height: 100vh;
  display: grid;
  grid-template-columns: auto;
  grid-template-areas: "center";
  place-items: center;

  > * {
    grid-area: center;
  }
}

#name {
  font-size: 2em;
}

#fan {
  a {
    position: absolute;
    transform-origin: center left;
    transition: all 100ms;
    &:hover {
      font-size: 1.2em;
    }
  }
}
