@import url(common.css);

body {
  margin: 0 auto;
}

.center {
  height: 100vh;
  display: grid;
  grid-template-columns: auto;
  grid-template-areas: "center";
  place-items: center;

  > * {
    grid-area: center;
  }
  
  img {
    border-radius: 50%;
  }
}

#name {
  font-size: 2em;
  filter: drop-shadow(1px 1px 3px white) drop-shadow(1px -1px 3px white) drop-shadow(-1px 1px 3px white) drop-shadow(-1px -1px 3px white);
}

#fan {
  a {
    position: absolute;
    transform-origin: center left;
    transition: all 100ms;
    &:hover {
      font-size: 1.2em;
    }
  }
}
